.container{
    width: 90%;
}

.container .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .card{
    width: 30%;
    display: inline-block;
    vertical-align: top;
}